.communityBox {
    display: inline-block;
    width: calc(100% - 20px);
    max-width: 980px;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 8px;
    flex-direction: column;
    text-align: left;
}

.communityBox .title {
    font-size: 20px;
    font-weight: 600;
    margin: 4px 4px;
    text-wrap: wrap;
    line-height: 120%;
    margin-right: 10px;
}
.communityBox .category {
    background-color: rgba(var(--medium), 0.4);
    padding: 2px 12px;
    border-radius: 20px;
    display: inline-block;
    color: rgb(var(--dark));
    margin-top: 8px;
}
.communityBox .category .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}
.communityBox .category .text {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 14px;
    margin: 2px 4px;
}
.communityBox .detailsContainer {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 8px 18px;
    margin: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.communityBox .informationContainer {
    padding: 8px 10px;
    display: flex;
}
.communityBox .information {
    flex: auto;
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
    overflow: hidden;
}

.communityBox .informationContainer .information .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.communityBox .joinButtonContainer {
    flex-shrink: 0; 
    display: inline-flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
}
.communityBox .joinButtonContainer .joinButton {
    display: inline-block;
    background-image: 
        radial-gradient(80px 30px at left top, rgba(var(--light), 0.8), rgba(var(--light), 0.6), transparent),
        linear-gradient(rgb(var(--dark)), rgb(var(--medium)));
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 60px;
    font-weight: 600;
    margin: 2px;
    cursor: pointer;
}
.communityBox .joinButtonContainer .joinButton:hover {
    box-shadow: 4px 4px 12px rgba(100,0,0,0.2);
    text-shadow: 2px 2px 8px rgba(100,0,0,0.6);
}
.communityBox .joinButtonContainer .joinDetails {
    font-size: 13px;
    font-weight: 450;
    margin-top: 4px;
}




.communityBox .description {
    flex: 1;
    padding: 8px;
}
.communityBox .description .titles {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}
.communityBox .description .text {
    font-size: 15px;
    line-height: 140%;
}
.communityBox .organizer {
    flex-shrink: 0;
    background-color: rgba(0,0,0,0.12);
    margin: 6px auto;
    border-radius: 40px;
    padding: 6px;
    width: fit-content;
    text-align: left;
}
.communityBox .organizer .organizerPicture {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    border-radius: 46px;
    border: 3px #ffffff solid;
    overflow: hidden;
    object-fit: cover;
}
.communityBox .organizer .organizerPicture img {
    object-fit: cover;
}
.communityBox .organizer .organizerDetails {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 4px;
    margin-left: 4px;
    margin-right: 16px;
}

.communityBox .organizer .organizerDetails .detailTitle {   
    font-size: 13px;
    line-height: 120%;
}
.communityBox .organizer .organizerDetails .detailInfo { 
    font-weight: 600;
    font-size: 15px;
}


.giveMessageBox {
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2px 8px;
    text-align: center;
    box-shadow: -4px -4px 12px rgba(0,0,0,0.05);
}

.giveMessageBox .profilePicture {
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(rgb(var(--dark)), rgb(var(--medium)));
    padding: 3px;
    border-radius: 80px;
    margin: 8px;
}
.giveMessageBox .profilePicture img {
    border-radius: 60px;
    border: 3px solid #ffffff;
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.giveMessageBox input {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.1);
    padding: 10px 24px;
    border-radius: 40px;
    margin: 8px;
    width: calc(100% - 130px);
    color: rgba(0,0,0,0.6);
    font-size: 15px;
}

.giveMessageBox input:focus {
    outline: 2px solid rgb(var(--medium));
}
.giveMessageBox .sendButton {
    display: inline-block;
    vertical-align: middle;
    color: rgb(var(--medium));
    margin: 4px;
}
.giveMessageBox .sendButton .icon{
    display: block;
}


.messagesBoxContainer {
    height: calc(100% - 140px);
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 10px;
    width: 90%;
    margin: auto;
}


.messageBox .profilePicture {
    display: inline-block;
    vertical-align: top;
    background-image: linear-gradient(rgb(var(--dark)), rgb(var(--medium)));
    padding: 3px;
    border-radius: 80px;
    margin: 8px;
    margin-top: 28px;
}
.messageBox .profilePicture img {
    border-radius: 60px;
    border: 3px solid #ffffff;
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.messageBox .messageContent {
    display: inline-block;
    vertical-align: top;
}
.messageBox .messageContent .name{
    font-size: 14px;
    margin: 2px 10px;
}
.messageBox .messageContent .message {
    background-color: #ffffff;
    padding: 10px 18px;
    border-radius: 22px;
    display: inline-block;
    margin: 2px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.05);
}
.ownMessage {
    text-align: right;
}
.ownMessage .messageContent .message {
    background-image: linear-gradient(80deg, rgb(var(--dark)), rgb(var(--medium)));
    color: #ffffff;
    box-shadow: -4px -4px 12px rgba(0,0,0,0.05);
}

.pendingBox {
    background-color: rgba(0,0,0,0.1);
    margin: 20px;
    margin-bottom: 0;
    padding: 8px;
    border-radius: 18px;
    display: flex;
    align-items: center;
}


.pendingBox .icon {
    flex-shrink: 1;
    margin: 6px 8px;
}
.pendingBox .text {
    flex-grow: 1;
    margin: 6px;
}
.pendingBox .button {
    flex-shrink: 1;
    background: rgba(255,255,255,0.8);
    padding: 10px 24px;
    border-radius: 60px;
    font-weight: 600;
    margin: 4px 6px;
    cursor: pointer;
}
.pendingBox .button:hover {
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}


.pendingMembersList {
    text-align: center;
    padding: 12px;
}
.pendingMemberBox {
    text-align: left;
    width: calc(100% - 20px);
    max-width: 980px;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
    margin: 8px;
    padding: 8px;
    display: inline-flex;
    align-items: center;

}

.pendingMemberBox .profilePicture {
    flex-shrink: 1;
    background-image: linear-gradient(rgb(var(--dark)), rgb(var(--medium)));
    padding: 3px;
    border-radius: 80px;
    margin: 10px;
}
.pendingMemberBox .profilePicture img {
    border-radius: 60px;
    border: 3px solid #ffffff;
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.pendingMemberBox .memberDetails {
    flex-grow: 1;
    margin: 8px;
}
.pendingMemberBox .memberDetails .name {
    font-weight: 600;
}
.pendingMemberBox .memberDetails .detail {
    font-size: 14px;
}

.pendingMemberBox .memberDetails .detail .community {
    font-weight: 600;
}
.pendingMemberBox .memberDetails .detail .community:hover {
    color: rgb(var(--medium));
}
.pendingMemberBox .memberDetails .viewProfile {
    background-color: rgba(var(--medium), 0.4);
    color: rgb(var(--dark));
    padding: 4px 16px;
    font-size: 14px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 4px;
    cursor: pointer;
}
.pendingMemberBox .memberDetails .viewProfile:hover {
    background-color: rgba(var(--medium), 0.6);
}
.pendingMemberBox .buttonContainer {
    flex-shrink: 1;
}
.pendingMemberBox .acceptButton, 
.pendingMemberBox .rejectButton {
    color: #02590fcc;
    background-color: #B2DEB9;
    padding: 4px 16px;
    border-radius: 30px;
    margin: 8px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.pendingMemberBox .acceptButton:hover {
    color: #02590f;
    background-color: #73BD7E;
}
.pendingMemberBox .rejectButton {
    color: #c62d42cc;
    background-color: #F4CED3;
}

.pendingMemberBox .rejectButton:hover {
    color: #c62d42;
    background-color: #E9A1AA;
}

.pendingMemberBox .acceptButton .icon, 
.pendingMemberBox .rejectButton .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

.pendingMemberBox .acceptButton .text, 
.pendingMemberBox .rejectButton .text {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}


.pendingCommunityBox {
    text-align: left;
    width: calc(100% - 20px);
    max-width: 980px;
    vertical-align: middle;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
    margin: 8px;
    padding: 8px;
    display: inline-flex;
    align-items: center;
}
.pendingCommunityBox .productImage {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 8px;
    border-radius: 10px;
    display: block;
    background-color: rgba(0,0,0,0.1);
}
.pendingCommunityBox table th {
    font-weight: 600;
    padding: 1px 4px;
}
.pendingCommunityBox table td {
    padding: 1px 6px;
}
.pendingCommunityBox .communityDetails {
    flex-grow: 1;
}
.pendingCommunityBox .communityDetails .name {
    font-size: 20px;
    font-weight: 600;
}
.pendingCommunityBox .buttonContainer {
    padding: 4px;
    flex: 0 0 180px;
}
.pendingCommunityBox .acceptButton, 
.pendingCommunityBox .rejectButton, 
.pendingCommunityBox .defaultButton {
    color: #02590fcc;
    background-color: #B2DEB9;
    padding: 6px 16px;
    border-radius: 30px;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

.pendingCommunityBox .acceptButton:hover {
    color: #02590f;
    background-color: #73BD7E;
}
.pendingCommunityBox .rejectButton {
    color: #c62d42cc;
    background-color: #F4CED3;
}

.pendingCommunityBox .rejectButton:hover {
    color: #c62d42;
    background-color: #E9A1AA;
}

.pendingCommunityBox .defaultButton {
    color: rgb(var(--dark));
    background-color: rgba(var(--medium), 0.4);
}

.pendingCommunityBox .defaultButton:hover {
    background-color: rgba(var(--medium), 0.6);
}

.pendingCommunityBox .acceptButton .icon, 
.pendingCommunityBox .rejectButton .icon, 
.pendingCommunityBox .defaultButton .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}

.pendingCommunityBox .acceptButton .text, 
.pendingCommunityBox .rejectButton .text , 
.pendingCommunityBox .defaultButton .text {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}



.pendingCommunityBox .communityDetails .title {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 600;
    margin: 4px 4px;
    text-wrap: wrap;
    line-height: 120%;
}

.pendingCommunityBox .communityDetails .semiTitle { 
    color: rgba(var(--dark),0.8);
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin: 2px 8px;
    font-size: 18px;
}
.pendingCommunityBox .communityDetails .category {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(var(--medium), 0.4);
    padding: 2px 12px;
    border-radius: 20px;
    display: inline-block;
    color: rgb(var(--dark));
    margin-left: 12px;
}
.pendingCommunityBox .communityDetails .category .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}
.pendingCommunityBox .communityDetails .category .text {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 14px;
    margin: 2px 4px;
}

.pendingCommunityBox .communityDetails .informationContainer {
    padding: 8px 10px;
    display: flex;
}
.pendingCommunityBox .communityDetails .information {
    flex: auto;
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
    overflow: hidden;
}
.pendingCommunityBox .communityDetails .description {
    background-color: rgba(0, 0, 0, 0.08);
    padding: 12px;
    margin: 8px;
    border-radius: 10px;
}
.pendingCommunityBox .communityDetails .description .detail {
    padding: 2px 6px;
    font-size: 15px;
}

.pendingCommunityBox .communityDetails .organizer {
    background-color: rgba(0,0,0,0.12);
    border-radius: 30px;
    padding: 4px;
    width: fit-content;
    text-align: left;
    margin-bottom: 8px;
}
.pendingCommunityBox .communityDetails .organizer .organizerPicture {
    display: inline-block;
    vertical-align: middle;
    border-radius: 46px;
    border: 2.5px #ffffff solid;
    overflow: hidden;
}
.pendingCommunityBox .communityDetails .organizer .organizerPicture img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.pendingCommunityBox .communityDetails .organizer .organizerDetails {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 4px 8px;
}

.pendingCommunityBox .communityDetails .organizer .organizerDetails .detailTitle {
    display: inline-block;
    vertical-align: middle;   
    font-size: 14px;
    line-height: 120%;
}
.pendingCommunityBox .communityDetails .organizer .organizerDetails .detailInfo { 
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 15px;
    padding: 0 4px;
}