.mainContent {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 300px);
    padding: 16px;
    height: 100%;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}