.mainContent {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 330px);
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
  position: relative;
}
.mainContent .content {
  padding: 16px;
  margin: auto;
  position: relative;
}
.mainContent .miniBreak {
  height: 12px;
}
.mainContent .smallBreak {
  height: 2px;
}

.header {
  background-image: radial-gradient(
      420px 60px at right bottom,
      rgba(var(--light), 0.6),
      transparent
    ),
    radial-gradient(
      420px 60px at left top,
      rgb(var(--medium)),
      rgba(var(--medium), 0.8),
      rgba(var(--medium), 0.6),
      transparent
    ),
    linear-gradient(rgb(var(--dark)), rgb(var(--medium)));
  position: relative;
  padding: 8px 10px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
}
.header .backIcon {
  display: inline-block;
  vertical-align: middle;
  padding: 14px 16px;
  color: #ffffff;
}
.header .text {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 6px;
}
.header .title {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.header .semiTitle {
  font-size: 14px;
  color: #ffffff;
}

.mainContent .optionContainer {
  font-size: 32px;
  padding: 6px 16px;
  font-weight: 600;
}

::-webkit-scrollbar {
  display: none;
}

.formBoxContainer {
  text-align: center;
  padding: 10px;
  height: calc(100dvh - 69px);
  align-items: center;
  justify-content: center;
  overflow: scroll;
  position: relative;
}

.formBox {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: calc(100% - 20px);
  max-width: 900px;
  text-align: left;
  padding: 10px;
}
.formBox .title {
  font-weight: 600;
  font-size: 26px;
  margin: 12px 16px;
}
.formBox label {
  font-weight: 450;
  margin: 4px 8px;
  font-size: 15px;
}
.formBox .label {
  margin: 6px 8px; 
  font-size: 15px;
  font-weight: 500;
}
.formBox .error {
  background-color: rgba(180, 0, 0, 0.4);
  color: rgb(160, 0, 0);
  margin: 6px 4px;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 15px;
}
.formBox label .required {
  color: red;
}
.formBox .bottomRequired {
  font-size: 14px;
  padding: 2px 8px;
}
.formBox .input {
  margin: 8px 12px;
  position: relative;
}
.formBox input[type="text"],
.formBox input[type="password"],
.formBox input[type="email"],
.formBox input[type="number"],
.formBox input[type="tel"],
.formBox input[type="date"],
.formBox input[type="file"],
.formBox input[type="datetime-local"],
.formBox textarea,
.formBox select {
  border-radius: 12px;
  border: 10px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  padding: 12px 16px;
  margin: 4px;
  width: calc(100% - 8px);
  resize: none;
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Standard */
  display: block;
}

.formBox input[type="text"]:focus,
.formBox input[type="password"]:focus,
.formBox input[type="email"]:focus,
.formBox input[type="number"]:focus,
.formBox input[type="tel"]:focus,
.formBox input[type="date"]:focus,
.formBox input[type="file"]:focus,
.formBox input[type="datetime-local"]:focus,
.formBox textarea:focus,
.formBox select:focus {
  border: 2px solid rgb(var(--medium));
  outline: rgb(var(--medium)) 1px solid;
}

.formBox .userInterest {
  padding: 4px;
  margin: 6px 4px;
}
.formBox .userInterest .icon {
  padding: 0 6px;
}
.formBox .userInterest .text {
  font-size: 15px;
  margin-right: 12px;
}
.formBox .userInterest .remove {
  display: inline-block;
  vertical-align: middle;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 2px;
  cursor: pointer;
}

.formBox .userInterest .remove .icon {
  width: 22px;
  height: 22px;
  line-height: 22px;
  padding: 0;
  text-align: center;
  display: block;
}

.formBox .userInterest .remove:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.formBox .unselectedInterest {
  cursor: pointer;
}
.formBox .unselectedInterest:hover {
  background-color: rgba(var(--medium), 0.7);
  cursor: pointer;
}
.formBox .unselectedInterest .text {
  margin-right: 16px;
}

.formBox .input .showPassword {
  position: absolute;
  right: 16px;
  bottom: 8px;
}

.formBox input[type="radio"] {
  margin: 8px 2px;
}
.formBox .radioLabel {
  display: inline-block;
  width: 50px;
  padding: 2px;
}
.formBoxContainer .currentProfilePicture {
  display: inline-block;
  background-image: linear-gradient(10deg, rgb(var(--dark)), rgb(var(--medium)));
  border-radius: 50%;
  padding: 10px;
}
.formBoxContainer .currentProfilePicture img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: block;
  border: 8px solid #ffffff;
  object-fit: cover;
}
.formBoxContainer .uploadProfilePicture {
  background-color: rgba(var(--medium), 0.4);
  padding: 10px 24px;
  border-radius: 40px;
  width: fit-content;
  color: rgb(var(--dark));
  font-weight: 500;
  margin: 10px auto;
  position: relative;
  cursor: pointer;
}
.formBoxContainer .uploadProfilePicture:hover {
  background-color: rgba(var(--medium), 0.6);
}
.formBoxContainer .uploadProfilePicture input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
} 
.formBox button {
  display: inline-block;
  background-image: radial-gradient(
      420px 40px at left top,
      rgba(var(--light), 0.8),
      rgba(var(--light), 0.6),
      transparent
    ),
    linear-gradient(rgb(var(--dark)), rgb(var(--medium)));
  color: #ffffff;
  padding: 14px 24px;
  border-radius: 60px;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
  width: calc(100% - 20px);
}

.tabContainer {
  display: flex;
  padding: 20px 10px;
  padding-bottom: 0;
  max-width: 1040px;
  margin: auto;
}
.tab,
.activeTab {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 4px 8px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.activeTab {
  background-color: rgba(var(--medium), 0.4);
  color: rgb(var(--dark));
  font-weight: 600;
  border: 1px rgb(var(--dark)) solid;
}
.tabContent {
  padding: 10px;
  text-align: center;
}

.formBoxContainer .mediaContainer {
  text-align: left;
  padding: 8px 12px;
  padding-top: 0;
}
.formBoxContainer .mediaContainer .media {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  margin: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}
.formBoxContainer .mediaContainer .media img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.formBoxContainer .mediaContainer .media .remove {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}



.settingOptionBox {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: calc(100% - 20px);
  max-width: 900px;
  text-align: left;
  overflow: hidden;
}

.settingOption {
  display: block;
  padding: 16px;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.settingOption:hover {
  background-color: rgba(0,0,0,0.05);
}

.settingOption .icon {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
}
.settingOption .text {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
}

.delete {
  color: rgba(240,0,0);
  border-bottom: 0;
}

.filterBox {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  padding: 10px;
}
.filterBox .title {
  flex-shrink: 1;
  font-size: 18px;
  font-weight: 600;
  margin: 2px 10px;
}
.filterBox .filters {
  flex-grow: 1;
  text-align: right;
}
.filterBox .filters .filter {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2px 12px;
  border-radius: 30px;
}
.filterBox .filters .filterName {
  display: inline-block;
  vertical-align: middle;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 500;
  margin-left: 8px;
}
.filterBox .filters .filter .icon {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
}
.filterBox .filters .filter select {
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  padding: 4px;
  margin: 2px;
  font-size: 15px;
  outline: 0;
}

.filterBoxShowcase {
  max-width: 940px;
}

.detailsSection {
  display: inline-block;
  width: calc(100% - 20px);
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
  margin: 4px 10px;
  padding: 14px;
  text-align: left;
  max-width: 1040px;
}

.participantList {
  display: inline-block;
  width: calc(100% - 20px);
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
  margin: 4px 10px;
  text-align: left;
  max-width: 1040px;  
}
.participant {
  padding: 8px 10px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.participant .participantDetailsContainer {
    flex-grow: 1;
}
.participant .profilePicture {
  display: inline-block;
  vertical-align: middle;
  background-image: linear-gradient(rgb(var(--dark)), rgb(var(--medium)));
  padding: 3px;
  border-radius: 80px;
  margin: 10px;
}
.participant .profilePicture img {
  border-radius: 60px;
  border: 3px solid #ffffff;
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.participant .participantDetails {
  display: inline-block;
  vertical-align: middle;
  margin: 8px;
}
.participant .participantDetails .name {
  font-weight: 600;
}

.participant .participantDetails .viewProfile {
  background-color: rgba(var(--medium), 0.4);
  color: rgb(var(--dark));
  padding: 4px 16px;
  font-size: 13px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 4px;
  cursor: pointer;
}
.participant .participantDetails .viewProfile:hover {
  background-color: rgba(var(--medium), 0.6);
}

.participant .participantDetailsContainer {
  flex-grow: 1;
}

.participant .buttonContainer {
  flex-shrink: 1;
}
.participant .acceptButton, 
.participant .rejectButton {
  color: #02590fcc;
  background-color: #B2DEB9;
  padding: 4px 16px;
  border-radius: 30px;
  margin: 8px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.participant .acceptButton:hover {
  color: #02590f;
  background-color: #73BD7E;
}
.participant .rejectButton {
  color: #c62d42cc;
  background-color: #F4CED3;
}

.participant .rejectButton:hover {
  color: #c62d42;
  background-color: #E9A1AA;
}

.participant .acceptButton .icon, 
.participant .rejectButton .icon {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
}

.participant .acceptButton .text, 
.participant .rejectButton .text {
  display: inline-block;
  vertical-align: middle;
  margin: 4px;
}

.addMaterialSpecial {
  display: flex;
  align-items: end;
  padding: 0 6px;
  margin-top: 0;
}
.addMaterialSpecial .input {
  margin: 0px 6px;
  flex: 1;
}

.addMaterialSpecial .addButton {
  background-color: rgba(var(--medium), 0.4);
  text-align: center;
  color: rgb(var(--dark));
  font-weight: 600;
  padding: 16px 24px;
  border-radius: 16px;
  margin: 4px;
  margin-right: 12px;
}

.addMaterialSpecial .addButton:hover {
  background-color: rgba(var(--medium), 0.6);
}

.formBox .materialContainer {
  padding: 8px;
}
.formBox .materialBox {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 8px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  padding: 6px;
}


.formBox .materialBox .rejectButton {
    display: flex;
    color: #c62d42cc;
    background-color: #F4CED3;
    padding: 6px 16px;
    border-radius: 30px;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
}

.formBox .materialBox .rejectButton:hover {
    color: #c62d42;
    background-color: #E9A1AA;
}

.formBox .materialBox .rejectButton .icon{
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}
.formBox .materialBox .rejectButton .text {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
    font-weight: 500;
}

.formBox .materialBox .textContainer {
  flex-grow: 1;
  margin: 8px;
}
.formBox .materialBox .textContainer .name {
  font-size: 20px;
  font-weight: 600;
  margin: 6px 4px;
}

.formBox .materialBox .textContainer .format {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 2px 12px;
  width: fit-content;
}


.formBox .materialBox .media {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin: 6px;
  background-color: rgba(0,0,0,0.1);
  text-align: center;
}
.formBox .materialBox .media .audio {
  display: block;
  margin-top: 8px;
}
.formBox .materialBox .media .pdfIcon {
  line-height: 80px;
}
.formBox .materialBox .media audio {
  display: none;
}
.formBox .materialBox .media video {
  display: none;
}
.formBox .materialBox .duration {
  display: inline-block;
  font-size: 12px;
  background-color: rgba(0,0,0,0.4);
  color: #ffffff;
  padding: 1px 10px;
  border-radius: 20px;
}
.formBox .materialBox .media img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

@media screen and (min-width: 1600px) {
  .mainContent {
    width: calc(100% - 330px);
  }
}

@media screen and (max-width: 820px) {
  .mainContent {
    width: 100%;
  }
}
