.notFound {
    margin: 12px 10px;
    padding: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.08);
    border-radius: 16px;
}
.notFound .icon {
    padding: 10px;
}

.notFound .text {
    padding: 10px;
    font-weight: 500;
}

.notFoundContainer {
    text-align: center;
    padding: 10px;
    height: calc(100dvh - 73px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.notFoundContainer .notFound {
    background-color: rgba(0,0,0,0);
}