.profileContainer {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.profileTopBox {
  margin: 10px;
}

.userPoints {
  background-color: rgba(0,0,0,0.1);
  display: block;
  margin: 8px auto;
  width: fit-content;
  padding: 4px;
  border-radius: 20px;
}

.userPoints .text {
  display: inline-block;
  vertical-align: middle;
  margin: 4px;
  font-size: 14px;
}
.userPoints .icon {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  margin-left: 6px;
}
.userPoints .point {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
  padding: 2px 12px;
  background-color: #ffffff;
  border-radius: 20px;
  font-weight: 600;
  color: rgba(var(--dark),0.8);
}

.profileTopBox .profilePicture {
  background-image: linear-gradient(rgb(var(--dark)), rgb(var(--medium)));
  padding: 7px;
  display: inline-block;
  border-radius: 200px;
  margin: 10px;
}
.profileTopBox .profilePicture img {
  width: 180px;
  height: 180px;
  border-radius: 200px;
  border: 6px #ffffff solid;
  object-fit: cover;
}
.profileTopBox .details {

}
.profileTopBox .details .name {
  font-weight: 600;
  font-size: 28px;
}

.profileDetails {
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}

.profileDetailsSectionContainer {
  display: flex;
}
.profileDetailsSection {
  flex: 1;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
  margin: 8px;
  padding: 12px;
  text-align: left;
}

.profileDetailsSection .title {
  font-size: 20px;
  font-weight: 600;
  padding: 6px 12px;
}
.profileSectionField {
  margin: 2px 4px;
}
.profileSectionField .icon {
  display: inline-block;
  vertical-align: middle;
  margin: 6px;
}
.profileSectionField .texts {
  display: inline-block;
  vertical-align: middle;
  margin: 6px;
  max-width: calc(100% - 60px);
}

.profileSectionField .label {
  font-size: 14px;
  font-weight: 600;
}


.contributionSectionContainer {
  display: flex;
}
.contributionBox {
  position: relative;
  flex: 1;
  background-image: 
  radial-gradient(240px 80px at left top, rgba(var(--light), 0.8), rgba(var(--light), 0.6), transparent),
  linear-gradient(rgb(var(--dark)), rgb(var(--medium)));
  border-radius: 16px;
  box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
  margin: 8px;
  text-align: left;
  color: #ffffff;
  padding: 10px;
  overflow: hidden;
}

.contributionBox .icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 10px 16px;
  color: rgb(var(--extralight));
}
.contributionBox .floatedIcon {
  position: absolute;
  color: rgba(var(--light));
  top: 10px;
  right: 10px;
  opacity: 0.2;
  z-index: 0;
}
.contributionBox .texts {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 6px;
  z-index: 200;
  max-width: calc(100% - 100px);
}

.contributionBox .texts .count{
  font-size: 50px;
  line-height: 100%;
  font-weight: 600;
  text-shadow: 4px 4px 8px rgba(var(--dark),0.8);
}
.contributionBox .texts .title {
  font-weight: 500;
  opacity: 0.9;
}

.contributionBox .secondDetail {
  font-weight: 500;
  opacity: 0.9;
  background-color: rgba(var(--extradark), 0.2);
  display: flex;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  gap: 5px;
  text-align: center;
  cursor: pointer;
}

.contributionBox .secondDetail .spanContainer {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.contributionBox .secondDetail .count {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 600;
  color: rgb(var(--extralight));
}
.contributionBox .secondDetail .title {
  display: inline-block;
  vertical-align: middle;
}

.userInterest {
  background-color: rgba(var(--medium), 0.4);
  color: rgba(var(--dark), 0.8);
  padding: 4px 12px;
  border-radius: 20px;
  display: inline-block;
  margin: 4px;
}
.userInterest .icon {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
}
.userInterest .text {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 15px;
  margin: 2px 5px;
}

.dialogBoxBackground {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.none {
  display: none;
}
.dialogBoxBackground .dialogBox {
  background-color: #ffffff;
  padding: 14px;
  border-radius: 18px;
  text-align: left;
}

.dialogBoxBackground .dialogBox .title {
  font-size: 20px;
  font-weight: 600;
  padding: 6px 14px;
}

.dialogBoxBackground .dialogBox .details {
  padding: 4px 14px;
}

.dialogBoxBackground .dialogBox .buttonContainer {
  display: flex;
  margin: 4px;
  margin-top: 10px;
}

.dialogBoxBackground .dialogBox .buttonContainer .button {
  flex: 1;
  background-image: 
    radial-gradient(80px 30px at left top, rgba(var(--light), 0.8), rgba(var(--light), 0.6), transparent),
    linear-gradient(rgb(var(--dark)), rgb(var(--medium)));
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 60px;
  font-weight: 600;
  margin: 4px;
  cursor: pointer;
  text-align: center;
}

.dialogBoxBackground .dialogBox .buttonContainer .buttonAlt {
  flex: 1;
  background-color: rgba(0,0,0,0.15);
  padding: 10px 24px;
  border-radius: 60px;
  font-weight: 600;
  margin: 4px;
  cursor: pointer;
  text-align: center;
}

.dialogBoxBackground .dialogBox .buttonContainer .button:hover {
  box-shadow: 4px 4px 12px rgba(var(--dark),0.4);
  text-shadow: 2px 2px 8px rgba(var(--dark),0.8);
}

.dialogBoxBackground .dialogBox .buttonContainer .buttonAlt:hover {
  background-color: rgba(0,0,0,0.3);
}

.sendMessage {
  display: inline-block;
  border-radius: 10px;
  padding: 8px 14px;
  margin: 10px;
  background-image: 
  radial-gradient(100px 20px at left top, rgba(var(--light), 0.8), rgba(var(--light), 0.6), transparent),
  linear-gradient(rgb(var(--dark)), rgb(var(--medium))); 
}

.sendMessage:hover {
  box-shadow: 4px 4px 12px rgba(var(--dark),0.4);
  text-shadow: 2px 2px 8px rgba(var(--dark),0.8);
}
.sendMessage .icon, .sendMessage .text{
  display: inline-block;
  vertical-align: middle;
  margin: 4px;
  color: #ffffff;
}

.sendMessage .text{
  font-weight: 500;
  font-size: 15px;
}