.givePostBox {
    margin: 10px;
    text-align: center;
    padding: 10px;
}
.givePostBox .profilePicture {
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(#ef5a5a, #ffa952);
    padding: 5px;
    border-radius: 80px;
    margin: 8px;
}
.givePostBox .profilePicture img {
    border-radius: 60px;
    border: 5px solid #ffffff;
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.givePostBox .textBox {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 180px);
    max-width: 860px;
    margin: 8px;
    background-color: #ffffff;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
    border-radius: 16px;
}
.givePostBox .textBox .textareaContainer {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 120px);
}
.givePostBox .textBox textarea {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    padding: 18px 24px;
    padding-bottom: 10px;
    resize: none;
    outline: 0;
    width: 100%;
}
.givePostBox .addMediaContainer {
    background-color: rgba(255, 169, 82, 0.4);
    display: flex;
    border-radius: 40px;
    margin: 12px;
    cursor: default;
    margin-top: 0;
}
.givePostBox .addMedia {
    flex: 1;
    color: #ef5a5acc;
    display: inline-block;
    padding: 8px;
    position: relative;
    border-left: 2px #ef5d5d66 solid;
    cursor: pointer;
}
.givePostBox .changeCategory {
    flex: 2;
    color: #ef5a5acc;
    display: inline-block;
    padding: 8px;
    position: relative;
    text-align: left;
}
.givePostBox .changeCategory .dropdownIcon {
    position: absolute;
    right: 8px;
    top: 12px;
}
.givePostBox .changeCategory .categoryContainer {
    background-color: #ffffff;
    position: absolute;
    padding: 8px;
    border-radius: 16px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
}
.givePostBox .changeCategory .categoryContainer .category {
    color: rgba(0,0,0,0.6);
    padding: 10px 14px;
    font-size: 14px;
}
.givePostBox .changeCategory .categoryContainer .category:hover {
    background-color: rgba(0,0,0,0.1);
    border-radius: 12px;
}
.givePostBox .addMedia .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}
.givePostBox .addMedia .text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    margin: 4px;
}

.givePostBox .changeCategory .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 2px 6px;
}
.givePostBox .changeCategory .text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    margin: 4px;
}
.givePostBox .addMedia input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
.givePostBox .mediaContainer {
    text-align: left;
    padding: 10px 12px;
    padding-top: 0;
}
.givePostBox .mediaContainer .media {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    margin: 4px;
    background-color: rgba(0,0,0,0.1);
    text-align: center;
}
.givePostBox .mediaContainer .media .audio {
    display: block;
    margin-top: 8px;
}
.givePostBox .mediaContainer .media audio {
    display: none;
}
.givePostBox .mediaContainer .media video {
    display: none;
}
.givePostBox .mediaContainer .duration {
    display: inline-block;
    font-size: 12px;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    padding: 1px 10px;
    border-radius: 20px;
}
.givePostBox .mediaContainer .media img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.givePostBox .mediaContainer .media .remove {
    position: absolute;
    right: 6px; 
    top: 6px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
}
.givePostBox .postButton {
    display: inline-block;
    vertical-align: middle;
    background-image: 
        radial-gradient(80px 30px at left top, #ffe79acc, #ffe79a99, transparent),
        linear-gradient(#ef5a5a, #ffa952);
    color: #ffffff;
    padding: 10px 28px;
    border-radius: 60px;
    font-weight: 600;
    margin: 8px 12px;
    cursor: pointer;
}





.postBoxContainer {
    margin: 10px;
    text-align: center;
}

.postBox {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 900px;
    text-align: left;
}

.postBox .profile {
    padding: 14px;
    padding-bottom: 0;
}
.postBox .profilePicture {
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(#ef5a5a, #ffa952);
    padding: 3px;
    border-radius: 80px;
    margin: 4px 6px;
}
.postBox .profilePicture img {
    border-radius: 50px;
    border: 3px solid #ffffff;
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.postBox .profileDetail {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}

.postBox .profileDetail .name {
    font-weight: 600;
}
.postBox .profileDetail .detail {
    font-size: 14px;
}
.postBox .postContent {
    padding: 12px 20px;
    color: rgba(0,0,0,0.6);
}

.postBox .mediaContainer {
    background-color: rgba(0,0,0,0.2);
    border-radius: 12px;
    padding: 6px;
    text-align: center;
    text-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 12px;
    margin-top: 4px;
    /*scrollbar-width: none;*/
}
.postBox .mediaContainer img {
    display: inline-block;
    vertical-align: middle;
    max-height: 500px;
    border-radius: 8px;
    margin: 6px;
}

.postBox .mediaContainer video {
    display: inline-block;
    vertical-align: middle;
    max-height: 500px;
    border-radius: 8px;
    margin: 6px;
}

.postBox .mediaContainer .audioContainer {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.1);
    padding: 6px;
    margin: 6px;
}
.postBox .mediaContainer .audioContainer .icon {
    color: rgba(0,0,0,0.5);
    margin: 12px;
}
.postBox .mediaContainer audio {
    width: calc(100% - 12px);
    margin: 6px;
    border-radius: 50px;
}
.postBox .postActionBoxContainer {
    display: flex;
    border-radius: 0 0 18px 18px;
    padding: 8px;
    padding-top: 0;
}
.postBox .postActionBox {
    flex: 1;
    text-align: center;
    padding: 6px;
    background-color: rgba(0,0,0,0.09);
    margin: 4px;
    border-radius: 50px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}
.postBox .postActionBox:hover {
    background-color: rgba(0,0,0,0.2);
}
.postBox .postActionBox .icon {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}
.postBox .postActionBox .text {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
    font-size: 15px;
}
.postBox .active {
    background-color: rgba(255, 169, 82, 0.4);
    color: #ef5a5a;
}
.postBox .active .text {
    font-weight: 600;
}
.postBox .active:hover {
    background-color: rgba(255, 169, 82, 0.5);
}
.postBox .postDetails {
    font-size: 14px;
    margin: 2px 16px;
}
.postBox .postDetails .detail {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}
.postBox .postDetails .divider {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
    background-color: rgba(0,0,0,0.4);
}

.giveCommentBox {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 900px;
    text-align: center;  
    padding: 8px;  
}
.giveCommentBox .profilePicture {
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(#ef5a5a, #ffa952);
    padding: 3px;
    border-radius: 80px;
    margin: 8px;
}
.giveCommentBox .profilePicture img {
    border-radius: 60px;
    border: 3px solid #ffffff;
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.giveCommentBox textarea {
    display: inline-block;
    vertical-align: middle;
    resize: none;
    border-radius: 16px;
    padding: 14px 18px;
    background-color: rgba(0,0,0,0.1);
    margin: 8px;
    outline: 0;
    width: calc(100% - 250px);
}

.giveCommentBox .postButton {
    display: inline-block;
    vertical-align: middle;
    background-image: 
        radial-gradient(80px 30px at left top, #ffe79acc, #ffe79a99, transparent),
        linear-gradient(#ef5a5a, #ffa952);
    color: #ffffff;
    padding: 10px 28px;
    border-radius: 60px;
    font-weight: 600;
    margin: 8px;
    cursor: pointer;
}

.commentBoxContainer {
    display: inline-block;
    border-radius: 18px;
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 900px;
    text-align: center;  
    background-color: rgba(0,0,0,0.1);
    padding: 12px;  
}

.commentBox {
    text-align: left;
    margin: 2px;
}

.commentBox .profilePicture {
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(#ef5a5a, #ffa952);
    padding: 3px;
    border-radius: 80px;
    margin: 6px;
}
.commentBox .profilePicture img {
    border-radius: 60px;
    border: 3px solid #ffffff;
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.commentBox .commentContentBox {
    margin: 6px;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffffff;
    padding: 10px 16px;
    border-radius: 18px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.1);
}

.commentBox .commentContentBox .name {
    font-size: 14px;
    font-weight: 600;
    margin: 2px;
}
.commentBox .commentContentBox .text {
    margin: 2px;
}
.commentBox .commentContentBox .details {
    margin: 2px;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 500;
    color: rgba(0,0,0,0.4);
}




@media (max-width: 480px) {
    .showcase {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }
    .givePostBox .profilePicture, .postBox .profilePicture {
        margin-bottom: 10px;
    }
    
    .givePostBox .textBox, .postBox .postContent {
        width: 100%;
        margin: 0;
    }
    
    .givePostBox .addMedia, .givePostBox .changeCategory {
        flex-direction: column;
        width: 100%;
    }
    
    .givePostBox .textBox textarea {
        width: 100%;
        padding: 12px;
    }
    
    .givePostBox .postButton {
        /* width: 80%; */
        margin-top: 10px;
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .showcase {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }
    .givePostBox, .postBox {
        max-width: 90%;
        padding: 12px;
    }

    .givePostBox .textBox, .postBox .postContent {
        width: 100%;
    }

    .givePostBox .profilePicture img, .postBox .profilePicture img {
        width: 60px;
        height: 60px;
    }

    .givePostBox .textBox textarea {
        padding: 14px 20px;
        width: calc(100% - 40px);
    }

    .givePostBox .addMedia, .givePostBox .changeCategory {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .givePostBox .addMedia .text, .givePostBox .changeCategory .text {
        font-size: 12px;
    }

    .givePostBox .mediaContainer .media {
        width: 60px;
        height: 60px;
    }

    .givePostBox .postButton {
        padding: 8px 20px;
        border-radius: 50px;
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .showcase {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }
}